.innerbanner-title-heading { overflow: visible;}
.innerbanner-title-heading {color: var(--color-secondary); display: inline-block; position: relative;font-weight: 500; perspective: 1000px; }
.innerbanner-title-heading .char {display: inline-block;will-change: transform, opacity;backface-visibility: hidden;transform-origin: center;}
.innerbanner-title-heading .word {display: inline-block; white-space: nowrap;}
.innerbanner-title-heading.innerbanner-title-heading-white {color: #fff;}
.innerbanner-title-heading .highlight-span { color: var(--color-primary);}

.dark .blank-template-inner p, .dark .blank-template-inner ul li{ color: #fff; }
.dark .innerbanner-title-heading {color: #fff;}
.dark .innerbanner-title-heading .highlight-span {color: #a6a6a6;}
.dark .breadcrumb_container a, .dark .breadcrumb_container li {color: #fff;}


.sitemap-template {width: 100%;}
.sitemap-template-inner {display: grid; grid-template-columns: repeat(3, minmax(0, 1fr)); gap: 40px;}
.sitemap-block h3 {font-size: clamp(1.25rem, 0.6vw + 1.1rem, 1.5rem); line-height: 1.1;font-weight: 600; margin-bottom: 20px; color: #4b2415;}
.sitemap-block ul { display: flex; flex-direction: column; gap: 12px; margin: 0; padding: 0; list-style: none;}
.sitemap-block ul li a { font-size: 1rem; line-height: 1.5; color: #222;text-decoration: none;transition: all 0.3s ease;}
.sitemap-block ul li a:hover {color: #DE392E; padding-left: 6px;}
@media (max-width: 991px) {
    .sitemap-template-inner {grid-template-columns: repeat(2, minmax(0, 1fr)); gap: 32px;}
    .sitemap-block h3 {font-size: 1.625rem; }
}

/* Mobile */
@media (max-width: 767px) {
    .sitemap-template-inner {grid-template-columns: 1fr;gap: 28px;}
    .sitemap-block h3 {font-size: 22px;margin-bottom: 14px;}
    .sitemap-block ul li a { font-size: 0.875rem;}
}
 
@media (max-width: 1023px) {

}
@media (max-width: 767px) {

}