.consult-vector {position: absolute; bottom: 2vw; left: 0;z-index: 0;}
.bg-wrapper-flat {background-color: #F5F8FD; position: absolute; top:-18vw; left: 0; width: 100%; height: 100%; }
.dark .bg-wrapper-flat {background-color: #424140;}
.banner-inner-section {z-index: 1;}
.bg-faq {position: absolute; bottom: -15vw; left: 0;z-index: -1;}
.dark .icon-transform img {filter: grayscale(1) invert(1);}
.hexagon-left {position: absolute; top: 0vw; left: -2vw; z-index: 0;}

@media (max-width: 1023px) {
  .extreme-left-imgwrap {padding-left: 1.25rem; padding-right: 1.25rem;}
}

@media (max-width: 767px) {
    .extreme-left-imgwrap {padding-left: 1.25rem; padding-right: 1.25rem;}
    .request-consult-section .title-heading-anim::before {bottom: -15px;}
    .hexagon-left img{max-width: 150px;}
}
