.explore-cop-vector {position: absolute;bottom: -2vw;left: -1vw;}
.bg-wrapper-flat {position: absolute;top:-12vw;left: 0;width: 100%;height: 100%;background-color: #F5F8FD;z-index: -1;}
.mentorshipmoments-section .tq-line-vector {bottom: 10vw;}
.bg-team-vector { position: absolute;bottom: -25vw;left: 0;width: 100%;z-index: -2;}
.floating-icon {z-index: -1;}
.left-float-vector {position: absolute;top: 0;left: -5vw;}
.right-float-vector {position: absolute;bottom: 25vw;right: -5vw;}

.dark .bg-wrapper-flat{background-color: #555;}
.dark .floating-icon img {filter: invert(100%) grayscale(100%) brightness(150%);}

.mentorshipmomentsSwiper {position: relative;height: auto;display: flex}
.mentorshipmoments-slider .swiper-wrapper {display: flex;align-items: stretch;}
.mentorshipmoments-slider .swiper-slide {height: auto;display: flex;flex-shrink: 0;}
.mentorshipmoments-slider .grid-item-box {width: 100%;height: 100%;}
.mentorshipmoments-slider {margin-left: -15px; margin-right: -15px;}
.mentorshipmoments-slider .swiper{padding-left: 15px;padding-right: 15px;padding-bottom: 15px; padding-top: 15px;margin-top: -15px;}

@media (min-width: 1920px) {
    .bg-wrapper-flat {top: -10vw;}
}


@media (max-width: 1023px) {
.mentorshipmoments-section .tq-line-vector {bottom: auto;top: 10vw;}
.bg-wrapper-flat {top: -50vw;}
.play-icon-wrapper img {width: 6vw; height: 6vw;}
}

@media (max-width: 767px) {
.mentorshipmoments-section .tq-line-vector {bottom: auto; top: 25vw;}
.bg-team-vector {bottom: 0;}
.bg-wrapper-flat {top: -75vw}
.explore-cop-vector {bottom: -5vw;left: -25vw;}
.left-float-vector {left: -35vw;}
.right-float-vector {right: -25vw;}
.left-float-vector img, .right-float-vector img {width: 250px;}
.play-icon-wrapper img {width: 16vw; height: 16vw;}

.mentorshipmoments-slider.custom-arrow-slider .swiper-button-next { right: -15px;}
.mentorshipmoments-slider.custom-arrow-slider .swiper-button-prev { left: -15px;}

}

@media screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio:1.5),screen and (min-width:1025px) and (min-resolution:144dpi) { 

    .legacyintegrity-section .wrapper-title {margin-top: 50px;}


}