.team-slider {margin-left: -15px; margin-right: -15px;}
.team-designation {font-size: 0.875rem;}
.team-popup-wrapper-inner .team-designation {font-size: 0.875rem;}
.ourteam-section .tq-line-vector {bottom: 36vw;}
.bg-team-vector { position: absolute;bottom: -20vw;left: 0;width: 100%;z-index: -1;}
.team-info-space p{margin-bottom: 0;}

.leadrship-accordion-wrapper .accordion-toggle { border: 1px solid #ababab; border-radius: 16px;background-color: #f0f0f0;}
.leadrship-accordion-wrapper .accordion-content.active {background-color: #f0f0f0 !important;}
/* .leadrship-accordion-wrapper .accordion-content { overflow: hidden;max-height: 0;transition: max-height 0.3s ease;} */
.leadrship-accordion-wrapper .accordion-content .accordion-inner {border: 1px solid #ababab;border-top: none;}
.leadrship-accordion-wrapper .accordion-toggle.active {border-bottom-left-radius: 0;border-bottom-right-radius: 0; border-bottom: none;background-color: #f0f0f0;}
.leadrship-accordion-wrapper .accordion-toggle, .dark .leadrship-accordion-wrapper .accordion-toggle {border-bottom: 1px solid #ababab;}

.leadrship-accordion-wrapper  .icon-circle {position: relative; width: 32px;height: 32px;border: 1.5px solid currentColor;border-radius: 50%;flex-shrink: 0;transition: all 0.3s ease;}
.leadrship-accordion-wrapper  .icon-circle .line {position: absolute;background: currentColor; transition: all 0.3s ease;}
.leadrship-accordion-wrapper  .icon-circle .horizontal {width: 14px;height: 2px;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.leadrship-accordion-wrapper .icon-circle .vertical { height: 14px;width: 2px;top: 50%;left: 50%; transform: translate(-50%, -50%);}
.leadrship-accordion-wrapper  .accordion-toggle.active .icon-circle .vertical {opacity: 0; transform: translate(-50%, -50%) scaleY(0);}
.leadrship-accordion-wrapper  .accordion-toggle:hover .icon-circle {transform: scale(1.05);}

.introwrapper-inner p {max-width: 40vw;}

.dark .leadrship-accordion-wrapper .accordion-toggle {background-color: #555;;}


.outer-btn {position: absolute; bottom: 0; left: 50%; transform: translate(-50%, -50%);}
.team-item-box {padding-bottom: 65px;}
.team-item-box .outer-btn .themeht-btn {font-size: 0.875rem;}
.color-outline-btn.arrow-btn:hover img{ filter: brightness(0) invert(1);}

.dark .color-outline-btn.arrow-btn img{ filter: brightness(0) invert(1);}

.dark .color-outline-btn.arrow-btn:hover img{ filter: brightness(0) invert(0);}

.popup-inner-contentright {padding-top: 0;}

@media (max-width: 1440px) {
.themeht-btn{padding: 8px 16px;}
}

@media (max-width: 1023px) {
.ourteam-section .tq-line-vector {bottom: auto;top: 30vw;}
}

@media (max-width: 767px) {
.team-designation {font-size: 0.813rem;}
.ourteam-section .tq-line-vector {bottom: auto; top: 50vw; display: none;}
.team-item-box {width: 90%;border: 1px solid #dfd8d8;margin: 0 auto;}
.bg-team-vector {bottom: 0;}
.leadrship-accordion-wrapper {margin-top: 20px;}
.introwrapper-inner p {max-width: 100%;}
.team-item-box {padding-bottom: 60px;padding-top: 12px;}


}

@media screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio:1.5),screen and (min-width:1025px) and (min-resolution:144dpi) { 
    .team-designation {font-size: 0.875rem !important;}
    .team-grid {gap: 25px;}
    .inener-container-modal {max-width: 60vw;}
    .popup-wrapper-inner p {font-size: 0.875rem !important;}
    .team-item-box .outer-btn .themeht-btn {font-size: 0.75rem;padding: 8px 12px;}


    
}