.dark .recentpublications-section .reveal-item{background-color: #303030; border-color: #858585; }
.dark .recentpublications-section .reveal-item h3{color: #fff;}
.dark .recentpublications-section .reveal-item p{color: #fff;}

.cards-section h3 {
  color: var(--color-primary);
  display: flex;
    align-items: start;
    height: calc(100% - 6vw);
}
.bottom-3 {
    bottom: calc(var(--spacing) * -12);
}


/* Mobile responsive */
@media (max-width: 768px) {
.cards-section h3 {
    color: var(--color-primary);
    display: flex;
    align-items: start;
height: auto;
}
.py-10 {
    padding-block: calc(var(--spacing) * 5);
}


}