@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers


@foreach (var item in Model.PartnersCollaborators_List)
{
    <div class="aspect-195/150 shrink-0 group reveal-item">
        <div class="item-boxs flex items-center justify-center text-center px-3 sm:px-5 h-full w-full">
            <h3 class="tex-base sm:text-lg font-semibold inline-block pb-1 relative">
                @item.Title
            </h3>
        </div>
    </div>
}