@using Nekta_BusinessLogic.Entity
@using Nekta_MVC.Helpers
@model List<HomeCommonModel>


@{
    var Component = Model
    .Where(x => x.IsBlock == 0)
    .OrderBy(x => x.Sequence)
    .FirstOrDefault();
}


<section class="relative section-pb">
    <div class="relative overflow-hidden flex items-center justify-center min-h-[420px]">

        <img src="/Assets/images/homepage/find-test-bg.webp" alt=""
            class="absolute inset-0 w-full h-full object-cover -z-1 find-test-bg dark-grayscaleinvert0" />


        <div class=" absolute left-0 bottom-0 floating-icon"><img src="/Assets/images/common-images/hexagon-sm.svg"
                alt="" class="object-cover dark-grayscaleinvert0" /></div>
    </div>
    <div class="relative find-text-inner">
        <div class="hexagon-img">
            <div class="bt_bb_image bt_bb_shape_hexagon bt_bb_hover_style_zoom-in">
                <div class="bt_bb_image_content">
                    <img src="/Assets/images/homepage/test-img.webp" alt="">
                </div>
            </div>
        </div>

        <div class="relative z-10 -mt-100 find-test-outer">
            <div class="container">
                <div class="wrapper-title-outer wrapper-title-outer-center">
                    <div
                        class="wrapper-title title-heading-outer title-heading-outer-center pt-0 pb-5 sm:pb-10 filldark-title-heading-anim">
                        <h2 class="text-h2 title-heading-anim title-heading-anim-white">
                            @Component.Title </h2>
                    </div>
                </div>
            </div>
            <!-- ── Card ── -->

            @await Html.PartialAsync("~/Views/TestDirectory/TestFinder.cshtml", (TestDirectory)ViewBag.TestFinder)


        </div>

        <!-- Tagline -->
        <div class="tagline-outer">
            <p class="text-center tagline mt-8 dark-textwhite"> @Html.Raw(Component.Intro.CleanParagraphTags())</p>
        </div>
    </div>
</section>