.contact-bg {position: absolute; top: 55vw; left: 0; width: 100%; height:950px; z-index: -1;}
.contact-bg img {width: 100%; height: 100%; object-fit: cover;}
.contact-address p {font-size: 1rem;color: #767676;}
.labtimings-warpper {background-color: #F5F8FD; border-radius: 16px;}
.hexagon-left-wrap {position: absolute; top: 5vw; left: -3vw;}
.hexagon-left-wrap img {width: 100px;}
.hexagon-right-wrap {position: absolute; bottom:85vw; right:-3vw;}
.contact-form-wrapper .wrapper-title{padding-top: 0;}
.location-wrapper .wrapper-title{padding-top: 50px;}
.map-overlay {transition: opacity 0.3s ease;}
.map-wrapper iframe {pointer-events: none;}
.map-wrapper.active iframe {pointer-events: auto;}
.map-overlay {transition: opacity 0.3s ease;}
.map-wrapper.active .map-overlay {opacity: 0;pointer-events: none;}
.labtimings-warpper {z-index: 1; position: relative;}

.dark .location-map-wrapper h3 {color: #fff;}
.dark .labtimings-warpper {background-color: #131313;}
.dark .labtimings-warpper .text-p {color: #fff;}
.dark .labtimings-warpper .timing-txt {color: #888;}
.dark .hexagon-left-wrap img, .dark .hexagon-right-wrap img {filter: brightness(0.5) grayscale(100%) invert(1); }

@media (max-width: 1023px) {
.map-wrapper iframe {height: 300px;}
}
@media (max-width: 767px) {
.contact-bg {top: 110vw; height: 75%;}
.hexagon-left-wrap {top: 10vw; left: -15vw;}
.hexagon-right-wrap {bottom: 75vw; right: -15vw; z-index: 0;}
}