.selected-value span {color: var(--color-primary);}

.testdirectory-inner {position: relative;}
.tab-content {position: absolute;width: 100%;opacity: 0;transform: translateY(15px);pointer-events: none;transition: all 0.4s ease;}
.tab-content.active {position: relative;opacity: 1;transform: translateY(0); pointer-events: auto;}
.tab-btn {position: relative;padding-bottom: 8px;cursor: pointer;}
.testdirectory-tabs {position: relative;}
.tab-indicator {position: absolute;bottom: 0;height: 3px;background: var(--color-primary);transition: all 0.35s ease; left: 0; width: 0;}
.dark .testdirectory-card-wrappper h3 {color: #fff;}
.dark .testdirectory-search {border: 1px solid #E9E9E9;background-color: var(--bg-lightBase);}
.dark .testdirectory-search {color: #fff;}
.dark .testdirectory-search-outer img {filter: invert(1);}

@media (max-width: 1600px) {
.selected-value, .testdirectory-search {font-size: 0.875rem;}
}

@media (max-width: 1023px) {
.selected-value, .testdirectory-search {font-size: 0.75rem;}
.testdirectory-card-wrappper p {font-size: 1rem;}
}
@media (max-width: 767px) {

}